body {
    margin: 0 auto;
    /* Puedes cambiar el color de fondo (background-color) si lo deseas */
    background-color: #f9d3a7;
    max-width: 80%;
    min-width: 500px;
    text-align: center;
}

.case h2 {
    /* Puedes cambiar el color de fondo (background-color) si lo deseas */
    background-color: #e0a45e;
    padding: 10px;
    margin: 10px;
}

.response {
    text-align: start;
    border: solid gray 2px;
    padding: 10px;
    margin: 10px;
}

.response h5 {
    margin: 0px;
    color: rgb(57, 57, 57);
}

.response h4 {
    margin-bottom: 0px;
}

.img {
    max-width: 800px;
    display: inline-flex;
    justify-content: center;
    margin: 10px;
}

img{
    width: 100%;
    height: auto;
}

#vis_3{
    margin-bottom: 5em;
    margin-top: 2em;
}

.filter{
    background-color: #f9d3a7;
    border: solid black 1px;
    border-radius: 8px;
    padding: 2px;
}

.selector{
    margin: 30px;
}

.button {
    background-color: #f9d3a7;
    border: solid black 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.button:hover{
    cursor: pointer;
}

.selected {
    opacity: 1;
    stroke-width: 2;
}

.notSelected {
    opacity: 0.2
}
